langchain
langchain-community
langchain-core
langchain-openai
langchain-groq        <-- ADD THIS LINE HERE
beautifulsoup4
requests
lxml

python-dotenv
aiohttp
pandas
tiktoken
rich
tenacity
orjson
pydantic
streamlit

